<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Swagger UI</title>
    <link rel="stylesheet" href="static/styles/swagger.css">
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3.51.0/swagger-ui-standalone-preset.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@3.51.0/swagger-ui-bundle.js"></script>
</head>
<body>

    <div id="swagger-ui"></div>
    <script>
      const ui = SwaggerUIBundle({
        url: "/openapi.json",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        layout: "StandaloneLayout"
      })
    </script>
    <div style="position: fixed; top: 10px; right: 10px; z-index: 1000;">
  <a href="/logout" style="background-color: #f44336; color: white; padding: 10px 15px;
    text-decoration: none; border-radius: 4px; display: inline-block; position: relative; z-index: 9999;">
    Выйти
  </a>
</div>
</body>
</html>
